<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Muvick Store</title>
	{% load static %}
	<link rel="stylesheet" href="{% static 'css/base.css' %}">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
</head>
<body>
	<nav>
		<picture><img src=""></picture>
		<div>
			<p>Registrate</p>
			<p>Inicia Sesión</p>
		</div>
	</nav>

	<div class="cuerpo">
		<div class="principal">
			<div class="barrap">
				<ul>
					<h3>Catálogo</h3>
					<h3>Ofertas</h3>
					<h3>Mi Carrito</h3>
				</ul>
			</div>
			<div class="productosp">
				<div>
					<img src="">
					<p>Marvel</p>
				</div>
				<div>
					<img src="">
					<p>Game Of Thrones</p>
				</div>
				<div>
					<img src="">
					<p>Funko</p>
				</div>
			</div>
		</div>
		<div class="destacados">
			<div class="barrad">
				<h3>Productos Destacados</h3>
			</div>
			<div class="destacadosp">
				<div>
					<picture><img src="" alt=""></picture>
					<p>Bohemian Rapsody</p>
				</div>
				<div>
					<picture><img src="" alt=""></picture>
					<p>Bohemian Rapsody</p>
				</div>
				<div>
					<picture><img src="" alt=""></picture>
					<p>Bohemian Rapsody</p>
				</div>
				<div>
					<picture><img src="" alt=""></picture>
					<p>Bohemian Rapsody</p>
				</div>
				<div>
					<picture><img src="" alt=""></picture>
					<p>Bohemian Rapsody</p>
				</div>
			</div>
		</div>
	</div>

	<footer>
		<p>Acerca de Nosotros</p>
		<p>Terminos y condiciones</p>
		<p>Políticas de privacidad</p>
	</footer>
</body>
</html>